<img src="{{ url_for('static', filename='fireworks.gif')}}" id="fireworks">
<button id="click" onclick="location.href='https://lunagoone.herokuapp.com/'"> Click me! </button>
<div id="words">
  <p> Goodbye! </p>
</div>

<style>
  div#words {
    text-align: center;
    /* position:relative;
    width: 200px;
    height: 200px;*/
    color: white;
    font-size: 250;
    /*left: 425;
    top: 100; */
  }
  img#fireworks {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  button#click {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  body {
    margin: 0
  }

</style>
